.top() {
  position: absolute;
  top: 0;
}

.data {
  &:extend(.box-shadow);
  height: 18px;
  padding: @data-padding;
  margin: @default-margin;
  background: @data-background;
  color: @data-text-color;
  font-weight: @data-text-weight;
  border-radius: @default-rounded;
  font-family: @secondary-font;
  .transition();
}

#level {
  &:extend(.data);
  .top();
  left: 0;
}

#world {
  &:extend(.data);
  .top();
  right: 0;
}

