#help {
  width: @help-width;
  height: @help-height;
  padding: @help-padding;
  position: absolute;
  top: 0;
  left: 0;
  background: @help-background;
  .transition();
}

#help .panel {
  position: relative;
  z-index: 100;
  background: @white-color;
  width: 100%;
  height: 100%;
  border-radius: @help-rounded;
  margin: 0 auto;
  .box-shadow;
  overflow: scroll;
}

#help .panel .close {
  float: right;
  font-weight: bold;
  color: @lightdark-color;
  padding: @close-padding;
  font-size: @close-font-size;
  cursor: pointer;
  .transition();

  &:hover {
    color: @dark-color;
  }
}

#help-icon {
  &:extend(.button);
  .circle();
  background-color: @help-icon-color;
  height: @help-icon-size;
  width: @help-icon-size;
  position: absolute;
  bottom: @help-icon-spacing;
  right: @help-icon-spacing;
  padding: 0;

  &:hover {
    .button-hover()
  }
}

#help .panel > div > h1, p, ul, a,table {
  font-family: @secondary-font;
  margin: 0;
  line-height: @help-line-height;
  color: @dark-color;
}

#help .panel > div > p, ul, div > p, table {
  padding: @help-content-padding/2
}

td {
  padding-right: @help-content-padding/2;
}


#help-content {
  padding: @help-content-padding;
}