.input-login() {
  width: @login-width;
  max-width: @max-login-width;
}

#user-input.login {
  margin-top: @login-top;
  .input-login();
}

#exist-input.login {
  .input-login();
}

#header.login {
  padding-top: @login-header;
  height: calc(~"100vh - @{login-header}");
}

#submit-button {
  border-width: 0;
  border-radius: @default-rounded;
  color: @dark-color;
  background: @white-color;
  font-size: @button-font-size;
  display: block;
  margin: 0 auto;
  margin-top: @submit-btn-margin;
  padding: @submit-btn-padding;
  .box-shadow;
  .transition();
  opacity: .7;

  &:hover{
    opacity: 1;
  }
}

#exist-input {
  .user-input();
  margin-top: 10px;
}

#exist-input::placeholder {
  .placeholder();
}