#user-input.login {
  margin-top: @login-top;
  .input-login();
}

#exist-input.login {
  .input-login();
}

#header.login {
  padding-top: @login-header;
  height: calc(~"100vh - @{login-header}");
}

#submit-button {
  &:extend(.button);
  &:hover {
    .button-hover()
  }
}

#reconnect-button {
  &:extend(.button);
  &:hover {
    .button-hover();
  }
}

#exist-input {
  .user-input();
  margin-top: 10px;
}

#exist-input::placeholder {
  .placeholder();
}