
//Global
@default-margin: 20px;
@default-rounded: 5px;

//Fonts
@secondary-font: "Arial";
@main-font: 'Mrs Sheppards', cursive;

//Colors
@dark-color: #262626;
@default-color: #b5f8ff;
@white-color: #ffffff;
@lightgreen-color: lightgreen;
@red-color: red;

@gradient-deg: -130deg;
@dark-gradient: linear-gradient(-130deg, @dark-color 50%, darken(@dark-color, 10%) 100%);
@default-gradient: linear-gradient(-130deg, @default-color 50%, darken(@default-color, 10%) 100%);

//Login Variables
@login-width: 90%;
@max-login-width: 400px;
@login-top: 5vh;
@login-header: 20vh;

//Data
@data-padding: 10px 15px;
@data-background: @white-color;
@data-text-color: @dark-color;
@data-text-weight: bold;
@data-rounded: 5px;

//Indicator
@indic-size: 10px;
@indic-margin: 17px;
@indic-connected: @lightgreen-color;
@indic-offline: @red-color;

//Heading and Header
@heading-padding: 10px 10px 0px 10px;
@heading-font-size: 5em;
@header-height: 30vh;
@commands-width: 90vw; //Container for form elements