/*
 * Ouch Stylesheet
 * Last Revised: 3/30/19
 */
body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
.disappear {
  height: 0px!important;
  margin: 0px!important;
}
.hidden {
  display: none!important;
}
.opacity {
  opacity: 0!important;
}
.box-shadow,
.data,
.data-leaderboard,
#level,
#world {
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.4);
}
.data,
.data-leaderboard,
#level,
#world {
  height: 18px;
  padding: 10px 15px;
  margin: 20px;
  background: #ffffff;
  color: #262626;
  font-weight: bold;
  border-radius: 5px;
  font-family: "Arial";
  transition: all 1s!important;
}
.data-leaderboard {
  display: table;
  margin: 4px;
  float: right;
}
#level {
  position: absolute;
  top: 0;
  left: 0;
}
#world {
  position: absolute;
  top: 0;
  right: 0;
}
.leaderboard {
  max-height: 30vh!important;
  max-width: 25vw;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  margin-top: calc(18px + 54px);
  right: calc(20px - 4px);
}
#commands {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
}
#header {
  width: 100vw;
  padding-top: 20vh;
  height: calc(100vh - 20vh);
  text-align: center;
  background: linear-gradient(-130deg, #b5f8ff 50%, #82f3ff 100%);
  transition: all 1s!important;
}
#ouch {
  padding: 10px 10px 0px 10px;
  margin-bottom: 0;
  color: #262626;
  font-family: 'Mrs Sheppards', cursive, cursive;
  font-size: 5em;
  transition: all 1s!important;
}
#indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 17px;
  background: red;
  box-shadow: 0 0 3px red;
}
#indicator.connected {
  background: lightgreen;
  box-shadow: 0 0 3px lightgreen;
}
#user-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 12px;
  color: #262626;
  border-width: 0;
  outline: none;
  font-size: 1em;
  transition: all 1s!important;
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.4);
}
#user-input::placeholder {
  font-family: "Arial";
  text-align: center;
  font-size: 1em;
  overflow: visible;
}
#search {
  width: 100%;
  max-height: 20vh;
  background: #ffffff;
  margin: 0 auto;
  margin-top: -10px;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 6px;
  transition: all 1s!important;
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.4);
}
.search-item {
  padding: 10px;
  font-family: "Arial";
  border-bottom: 1px solid lightgrey;
}
#header.dark {
  background: linear-gradient(-130deg, #262626 50%, #0c0c0c 100%);
}
#ouch.dark {
  color: white;
}
#user-input.login {
  margin-top: 5vh;
  width: 90%;
  max-width: 400px;
  opacity: 0.7;
}
#user-input.login:focus {
  opacity: 1;
}
#exist-input.login {
  width: 90%;
  max-width: 400px;
  opacity: 0.7;
}
#exist-input.login:focus {
  opacity: 1;
}
#header.login {
  padding-top: 20vh;
  height: calc(100vh - 20vh);
}
#submit-button {
  border-width: 0;
  border-radius: 5px;
  color: #262626;
  background: #ffffff;
  font-size: 1em;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.4);
  transition: all 1s!important;
  opacity: 0.7;
}
#submit-button:hover {
  opacity: 1;
}
#exist-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 12px;
  color: #262626;
  border-width: 0;
  outline: none;
  font-size: 1em;
  transition: all 1s!important;
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}
#exist-input::placeholder {
  font-family: "Arial";
  text-align: center;
  font-size: 1em;
  overflow: visible;
}
#help {
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.38);
  transition: all 1s!important;
}
#help .panel {
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.4);
}
#help .panel .close {
  float: right;
  font-weight: bold;
  color: #9d9d9d;
  padding: 3px 10px;
  font-size: 1.75em;
  cursor: pointer;
  transition: all 1s!important;
}
#help .panel .close:hover {
  color: #262626;
}
