/* Ouch Stylesheet */
.hidden {
  display: none!important;
}
.opacity {
  opacity: 0;
}
.box-shadow,
.data,
#level,
#world {
  box-shadow: 0px 0px 24px -7px rgba(0, 0, 0, 0.4);
}
.data,
#level,
#world {
  position: absolute;
  top: 0;
  padding: 10px 15px;
  margin: 20px;
  background: #ffffff;
  color: #262626;
  font-weight: bold;
  border-radius: 5px;
  font-family: "Arial";
}
#level {
  right: 0;
}
#world {
  left: 0;
}
#header.dark {
  background: linear-gradient(-130deg, #262626 50%, #0c0c0c 100%);
}
#ouch.dark {
  color: white;
}
#user-input.login {
  margin-top: 5vh;
  width: 90%;
  max-width: 400px;
}
#header.login {
  padding-top: 20vh;
  height: calc(100vh-20vh);
}
